<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add event</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <h2>add event</h2>
        <h4>Name of the event</h4>
        <input type="text" name="eventname"><br><br>
        <h4>description</h4>
        <input type="text" name="description"><br><br>
        <h4>event</h4>
        <input type="file" name="fileevent"><br><br>
        <input type="submit">
    </form>
</body>
</html>