<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="C:/Users/eddy/Pictures/Screenshots/Screenshot (29).png" alt="">
    <h1>Hello welcome to our new page</h1><br>
    <a href="/user/adminReg">register</a><br><br>
    <a href="/user/adminlog">login</a>
</body>
</html>